@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Global chocolate cursor */
* {
  cursor:
    url("./assets/cursor-chocolate.png") 16 16,
    auto;
}

button {
  cursor:
    url("./assets/cursor-chocolate.png") 16 16,
    pointer;
}
/* Global Valentine font */
* {
  font-family: "Montserrat", cursive;
}
